body {
	font-family: sans-serif;
}

.salario-wrapper {
	display: flex;
	gap: 1rem;
	align-items: baseline;
}

input {
	height: fit-content;
	border: none;
    border-bottom: 2px solid gray;
}

.wrapper-border {
	padding: 1rem;
	border: 1px solid gray;
	border-radius: 0.75rem;
	width: 100%;
	overflow: hidden;
}

.wrapper-border hr {
	width: 150%;
	position: relative;
	right: 2rem;
}

.custos-wrapper {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.custos-container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	gap: 1rem;
}

h1 {
	margin: 0;
	padding: 0;
}

.custo-unico-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: nowrap;
	gap: 0.75rem;
}

.custo-botao {
	height: fit-content;
	border: none;
	background-color: transparent;
}

.custo-botao:hover {
	text-decoration: underline;
}

.botao-editar{
	color: blue;
}

.botao-remover {
	color: red;
}

.botao-adicionar {
	color: gray;
}

div.criar-novo-custo-container{
	display: flex;
	justify-content: space-around;
	gap: 1rem;
	width: fit-content;
}

div.criar-novo-custo-container input{
	width: 20%;
	padding: 0;
	margin: 0;
}

section.balanco__custo-container{
	display: flex;
	justify-content: space-between;
}